.gray {
    background-color: gray;
}

.clicked {
    background-color: black;
}

.sketchArea {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 0px;
    justify-content: center;
    margin-top: 10px;
}

#title {
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    border-radius: 10px;
    font-size: 30px;
}

.square {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}